header {
  padding: 12em 0 4em; }

header h1 {
  font-size: 3em; }

.portrait {
  padding: 2em 0; }

footer div {
  margin: 21px 0 0;
  padding: 9.5px 0; }

section {
  margin-top: 2em; }

.label.top-right {
  position: absolute;
  right: 15px;
  top: 25px; }

section#publications .not-last {
  padding-bottom: 15px; }

section#publications .label.top-right {
  position: absolute;
  right: 15px;
  top: 46px; }

section#publications .thumbnail {
  margin-top: 21px; }

section#teaching ul {
  list-style: none;
  padding-left: 1em; }

section#teaching li {
  padding: 0 0 9px; }

.blueimp-gallery>.close, .blueimp-gallery>.title {
  top: 8px; }

.blueimp-gallery>.prev, .blueimp-gallery>.next {
  background: transparent;
  border: none; }
