---
# Front matter comment to ensure Jekyll properly reads file.
---
@charset "utf-8";

// variables override

$brand-color-0: rgb(  0,  85, 124);
$brand-color-1: rgb( 24, 109, 148);
$brand-color-2: rgb( 52, 136, 173);
$brand-color-3: rgb(129, 193, 220);
$brand-color-4: rgb(187, 229, 243);
$brand-color-5: rgb(238, 246, 254);

$code-color: $brand-color-2;

$enable-flex: true;
$enable-rounded: true;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;

$headings-font-weight: 300;

$brand-dark: $brand-color-1;
$brand-light: $brand-color-4;
$brand-primary: $brand-color-2;

$jumbotron-bg: transparent;
$jumbotron-padding: 0rem;

$link-color: $brand-color-1;
$link-hover-color: $brand-color-3;
$link-hover-decoration: none;

// Import customized bootstrap from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap-custom"
;

// common

p {
  hyphens: auto;
  @hyphenation-resource
}

h1 {
  padding-top: 2rem;
}

.navbar {

  background-color: $body-bg;

  #lang-select {

    margin-left: 1rem;

    > li.nav-item + .nav-item {
      margin-left: 0.25rem;
    }
  }

  img {
    margin: -1rem 0;
  }

  .navbar-toggler {
    border: none;
    margin-bottom: -1rem;
    cursor: pointer;
  }

  .dropdown-menu {
    border: none;
  }

  .dropdown-item {
    color: $navbar-light-color; 

    @include hover-focus {
      color: $navbar-light-hover-color; 
      background: none;
    }  
  }
  .dropdown-item.active {
    color: $navbar-light-active-color; 
    background: none;
  }
}

header {
  margin-top: 4rem;
}

.text-justify {
  text-align: justify;
}

.row {
  margin-top: 2rem;
}

@media (min-width: 75em) {
.container {
    max-width: 60rem;
}}

section {
  padding: 4rem 0 0;
}

tag {
  text-align: right;
}

form .row {
  margin-top: 0rem;
}

footer div {
  margin-bottom: .5rem;
}

.tag.top-left {
  position: absolute;
}

.partial-radius {
  border: none;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.project {
  padding-bottom: 1rem; }

.blueimp-gallery-controls {

  > .prev, > .next {
    background: transparent;
    border: none; 
  }
}

.tag.animate {
  -webkit-animation: sk-scaleout 0.66s infinite ease-in-out;
  animation: sk-scaleout 0.66s infinite ease-in-out;
}

.bibtex {

  .card {
    background-color: #f7f7f9;
  }

  pre {
    font-size: 80%;
    margin-bottom: 0;
  }

  .btn-clipboard-parent {
    display: block;
    position: relative;
    float: right;
  }

  .btn-clipboard {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    cursor: pointer;
    background-color: transparent;
    border-radius: .25rem;
  }
}

.form-control-static {
  line-height: 1.5; 
}

form #formspree-nobot {
  // display: none;  // this does not work since validate for no bot cannot process
  visibility: hidden;
  height: 0;
  margin-bottom: 0;
}

@-webkit-keyframes sk-scaleout {
    0% { opacity: 1.00; }
   50% { opacity: 0.66; }
  100% { opacity: 1.00; }
}

@keyframes sk-scaleout {
    0% { opacity: 1.00; }
   50% { opacity: 0.66; }
  100% { opacity: 1.00; }
}
