@charset "utf-8";

@use "@fontsource/roboto/scss/mixins" as Roboto;
@use "@fontsource/roboto-mono/scss/mixins" as RobotoMono;

@include Roboto.fontFaceCustom($weight: 300,
  $display: normal,
  $woffPath: "~@fontsource/roboto/files/roboto-latin-300-normal.woff",
  $woff2Path: "~@fontsource/roboto/files/roboto-latin-300-normal.woff2",
  $unicodeRange: false);

@include Roboto.fontFaceCustom($weight: 700,
  $display: normal,
  $woffPath: "~@fontsource/roboto/files/roboto-latin-700-normal.woff",
  $woff2Path: "~@fontsource/roboto/files/roboto-latin-700-normal.woff2",
  $unicodeRange: false);

@include RobotoMono.fontFaceCustom($weight: 400,
  $display: normal,
  $fontName: "Roboto Mono",
  $woffPath: "~@fontsource/roboto-mono/files/roboto-mono-latin-400-normal.woff",
  $woff2Path: "~@fontsource/roboto-mono/files/roboto-mono-latin-400-normal.woff2",
  $unicodeRange: false);

// variables override

$body-color: #343a40 !default;
$primary: #0dcaf0 !default;
$secondary: #d63384 !default;
// $primary: #6cbb23 !default;
// $primary: #4e8aad !default;


$enable-flex: true;
// $enable-rounded: false !default;
$enable-rounded: true !default;

// In honor of Microsoft Windows 11
$border-radius: 8pt;

$font-family-sans-serif: 'Roboto';
$font-family-monospace: 'Roboto Mono';

$headings-font-weight: 300;
$font-weight-bold: 700;

// $small-font-size: .875em !default;

// $jumbotron-bg: transparent;
// $jumbotron-padding: 0rem;

$link-decoration: none;


$enable-negative-margins: true;

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "4x1": calc(1 / 4 * 100%)
);

@import "bootstrap/scss/bootstrap";

// bootstrap modules - include path set by package script "sass"

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";


// Layout & components
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";
// scss-docs-end import-stack


// common

.mt-2rem {
  margin-top: 2rem;
}

p {
  hyphens: auto;
  // @hyphenation-resource
}

header {
  margin-top: 5rem;
}


h1 {
  @extend .display-4;
  @extend .text-uppercase;
  @extend .my-5;
}

h2 {
  font-size: $font-size-base * 2.5;
  @extend .text-uppercase;
  @extend .my-5;
}

h1,
h2 {
  strong {
    font-weight: $font-weight-bold;
  }
}

h3 {
  font-size: $font-size-base * 1.0;
  font-weight: bold;
  @extend .mb-3;
}

header {

  .figure-with-overlay {
    position: relative;
    // display: flex;
  }

  .figure-overlay .img-fluid {
    position: absolute;
    top: 0;
    left: 0;
  }

  .figure-toggle {
    position: absolute;
    right: 0;

    .btn:hover {
      @extend .text-white;
    }

    .btn-check:focus+.btn,
    .btn:focus {
      box-shadow: none !important;
    }
  }

  .figure-caption {
    visibility: hidden;
  }
}


.text-justify {
  text-align: justify;
}

.row {
  margin-top: 2rem;
}

@media (min-width: 75em) {
  .container {
    max-width: 60rem;
  }
}

section,
footer {
  padding: 4rem 0 0;
}

footer {
  margin-bottom: 2rem;
}

.badge {
  font-weight: $font-weight-normal;
  text-align: right;
  border-radius: $border-radius 0;
}

.gslide-description {
  background: transparent !important;

  .gdesc-inner {
    padding: 0.5rem 0;
  }

  .gslide-desc {
    color: white;
    font-family: $font-family-sans-serif;
  }
}

.project {
  padding-bottom: 1rem;
}

.badge.animate {
  -webkit-animation: sk-scaleout 0.66s infinite ease-in-out;
  animation: sk-scaleout 0.66s infinite ease-in-out;
}

.bibtex {

  @extend .card;
  background-color: $card-cap-bg;
  border-radius: $border-radius-sm;

  pre {
    font-size: 75%;
    margin-bottom: 0;
    // white-space: pre-wrap;
    // word-break: keep-all
  }

  .btn {
    color: #818a91;
    font-size: 75%;
    cursor: pointer;
    background-color: transparent;
    padding: .25rem .5rem;
  }
}


.ba {
  @extend .text-end;
  @extend .pe-2;
}

.ma {
  @extend .text-start;
  @extend .ps-2;
  @extend .border-start;
}


@-webkit-keyframes sk-scaleout {
  0% {
    opacity: 1.00;
  }

  50% {
    opacity: 0.66;
  }

  100% {
    opacity: 1.00;
  }
}

@keyframes sk-scaleout {
  0% {
    opacity: 1.00;
  }

  50% {
    opacity: 0.66;
  }

  100% {
    opacity: 1.00;
  }
}
