.blueimp-gallery(aria-label = 'image carousel' aria-modal = 'true' role = 'dialog')#blueimp-gallery
  .slides(aria-live = 'off')
  h3.title
  a.prev(aria-controls = 'blueimp-gallery' aria-label = 'previous slide' aria-keyshortcuts = 'ArrowLeft')
  a.next(aria-controls = 'blueimp-gallery' aria-label = 'next slide' aria-keyshortcuts = 'ArrowRight')
  a.close(aria-controls = 'blueimp-gallery' aria-label = 'close' aria-keyshortcuts = 'Escape')
  a.play-pause(aria-controls = 'blueimp-gallery' aria-label = 'play slideshow' aria-keyshortcuts = 'Space' aria-pressed = 'false' role = 'button')
  ol.indicator
