
script(src = '/jquery.min.js')
//- script(src = '/scripts/tether-1.4.4.min.js')
//- script(src = '/scripts/clipboard-2.0.1.min.js')
//- script(src = '/scripts/blueimp-gallery-2.33.0.min.js')
script(src = '/bootstrap.js')
script(src = '/scripts.js')
