{% assign contact = site.data.contact %}
<div class="row text-xs-center mb-1">
  <div class="col-xs">
    <h1>{{ contact.heading.[page.lang] | escape }}</h1>
  </div>
</div>

<form class="mt-1" id="contact-form" action="//formspree.io/{{ contact.email }}" method="POST">
  
  <div class="form-group row mb-0">
    <label class="col-sm-3 col-form-label text-sm-right text-xs-left">{{ contact.email_label.[page.lang] }}:</label>
    <div class="col-sm-9">
      <p class="form-control-static mb-0"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
      <p class="form-control-static text-muted">
      {{ contact.alternative_label.[page.lang] }}:  
      {% for email in contact.alternative_emails %}{{ email }}{% if email != contact.alternative_emails.last %}, {% endif %}
      {% endfor %}
      </p>
    </div>
  </div>

  <div class="form-group row mb-0">
    <label class="col-sm-3 col-form-label text-sm-right text-xs-left">{{ contact.phone_label.[page.lang] }}:</label>
    <div class="col-sm-9">
      <p class="form-control-static"><a href="tel:{{ contact.phone[page.lang] | replace : ' ', '' }}">{{ contact.phone[page.lang] }}</a></p>
    </div>
  </div>

  <div class="form-group row mb-0">
    <label class="col-sm-3 col-form-label text-sm-right text-xs-left">{{ contact.refs_label.[page.lang] }}:</label>
    <div class="col-sm-9">
      <p class="form-control-static">
      {% for ref in contact.refs %}
      <a href="{{ ref.href }}">{{ ref.name }}</a>{% if ref != contact.refs.last %}, {% endif %}
      {% endfor %}
      </p>
    </div>
  </div>
  {% if contact.vcard %}
  {% assign vcard = contact.vcard %}
  <div class="form-group row mb-0">
    <label class="col-sm-3 col-form-label text-sm-right text-xs-left">{{ contact.vcard_label.label.[page.lang] }}:</label>
    <div class="col-sm-9">
      {% if vcard.qr_svg %}
      <p class="form-control-static"><a href="{{ vcard.file }}">{{ contact.vcard_label.download_file.[page.lang] }}</a> {{ contact.vcard_label.scan_qr_code.[page.lang] }}</p>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3"></div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      {% assign svg_alt = "vCard QR Code" %}{% assign svg_src = vcard.qr_svg %}{% assign svg_fallback = vcard.qr_fallback %}{% include svg.html %}
      {% endif %}
    </div>
  </div>
  {% endif %}

</form>
