<footer>
  <div class="container">
    <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0 text-xs-center">
      <small>This website was designed by <a href="https://github.com/cgcostume/cgcostume.github.io">Daniel Limberger</a> and is hosted via <a href="https://pages.github.com/">GitHub Pages</a> for free. Last updated on <a href="https://github.com/cgcostume/cgcostume.github.io/commits/master">{{ site.time | date: "%x" }}</a>.</small>
    </div>
  </div>
</footer>

<div id="blueimp-gallery" class="blueimp-gallery js-only">
  <div class="slides">#</div>
  <h3 class="title">#</h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
