{% assign footer = site.data.footer %}
{% capture index_url %}{{ site.baseurl }}/{{ page.lang}}/{% endcapture %}

<footer class="text-center">Copyright &copy; 2015&thinsp;&ndash;&thinsp;{{ site.time | date: "%Y" }} Daniel Limberger
    <br>
    <small>{{ footer.endangered[page.lang] }}
        <a href="{{ index_url }}privacy-policy.html">{{ footer.privacy[page.lang] }}</a>
    </small>
</footer>
<data hidden value="{{ site.data.gitrev.revision }}">revision</data>


<div id="blueimp-gallery" class="blueimp-gallery js-only">
  <div class="slides">#</div>
  <h3 class="title">#</h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
