{% assign contact = site.data.contact %}
{% capture index_url %}{{ site.baseurl }}/{% endcapture %}

<footer class="container">
  <div class="row text-center">
    <div class="col-12">
      <p class="mt-5">
        Copyright &copy; 2015&thinsp;&ndash;&thinsp;{{ site.time | date: "%Y" }} Daniel Limberger,
        <a href="{{ index_url }}privacy-policy.html">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
<data hidden value="{{ site.data.gitrev.revision }}">revision</data>


<div id="blueimp-gallery" class="blueimp-gallery js-only">
  <div class="slides">#</div>
  <h3 class="title">#</h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
