
  {% assign header = site.data.header %}
  <header class="jumbotron">
    <div class="container">

      <div class="row text-xs-center">
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
          <img class="img-fluid img-rounded center-block" src="/img/{{ header.picture }}" alt="solution">
        </div>
      </div>

      <div class="row text-xs-center">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
          <h1>{{ header.heading.[page.lang] }}</h1>
          <p class="lead">{{ header.lead.[page.lang] }}</p>
          <p class="text-justify">{{ header.about.[page.lang] }}</p>
        </div>
      </div>

    </div>
  </header>
