
<!-- Page Header -->
<header class="intro-header">
  <div class="container">

    <div class="row portrait">
      <div class="col-lg-12 ">
        <img class="img-responsive img-thumbnail center-block" src="https://avatars1.githubusercontent.com/u/3909980" alt="portrait">
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>{{ site.author }}</h1>
        <hr class="small">
        <p class="lead">{{ site.subheading }}</p>
      </div>
    </div>
  </div>
</header>