<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta charset="{{ site.encoding }}">
  <meta name="viewport" content="width=device-width initial-scale=1">


  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="robots" content="index, follow">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ site.google_font_sans_serif }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/blueimp-gallery/2.15.0/css/blueimp-gallery.min.css">

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | prepend: site.url }}">

  <noscript><style>.js-only { display: none; }</style></noscript>

</head>
