<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 project ">
  {% assign thumbnail_src = p.thumbnail %}
  {% assign thumbnail_alt = p.title %}
  {% assign thumbnail_flickr = p.flickr %}
  {% include thumbnail.html %}
  <h4>{{ p.title | escape }}</h4>
  <p>{{ p.caption.[page.lang] }}</p>
  <p>{% if p.bibtex %}<a data-toggle="modal" href="#bibtex-{{ p.key }}">BibTex</a>{% if p.downloads %}, {% endif %}{% endif %}
    {% if p.downloads %}{% for download in p.downloads %}<a {% if download.video %}class="video-{{ download.video }}" {% endif %}href="{{ download.href }}">{{ download.desc }}</a>{% if download != p.downloads.last %}, {% endif %}{% endfor %}{% endif %}&nbsp;</p>
</div>
