
<!-- Projects -->
<section id="projects">
  <div class="container">
  
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="page-header">Projects</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="alert alert-info" role="alert">The contents of this section will be supplemented in the following days.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
    </div>
    {% assign projects = site.data.projects | sort:"date" %}
    {% for p in projects reversed %}{% capture rowmode %}{% cycle 0, 1, 1, 2 %}{% endcapture %}
    {% if rowmode == '0' %}<div class="row">{% endif %}
      <div class="col-sm-3 col-xs-6 project">
        {% include thumbnail.html %}
        <h4>{{ p.title }}</h4>
        <p>{{ p.caption }}</p>
        <p>
          {% if p.bibtex %}<a data-toggle="modal" href="#bibtex-{{ p.key }}">BibTex</a>{% if p.downloads %}, {% endif %}{% endif %}
          {% if p.downloads %}{% for download in p.downloads %}<a {% if download.video %}class="video-{{ download.video }}" {% endif %}href="{{ download.href }}" target="_blank">{{ download.desc }}</a>{% if download != p.downloads.last %}, {% endif %}{% endfor %}{% endif %}
        </p>
      </div>
    {% if rowmode == '2' or p == projects.first %}</div>{% endif %}
    {% endfor %}
  </div>
</section>
