
<!-- Publications -->
<section id="publications">
  <div class="container">
  
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="page-header">Publications</h1>
      </div>
    </div>
    {% assign publications = site.data.publications | sort:"date" %}
    {% for p in publications reversed %}
    <div class="row">
      <div class="col-sm-2 col-md-offset-1">
        {% if p.gallery %}<a href="#" class="thumbnail" id="thumbnail-{{ p.key }}">
          <img class="img-responsive" src="{{ p.thumbnail }}" alt="">
        </a>{% else %}<div class="thumbnail">
          <img class="img-responsive" src="{{ p.thumbnail }}" alt="">
        </div>{% endif %}
      </div>
      <div class="col-md-8">
        <h3>{{ p.title }}</h3>
        <p>{% for author in p.authors %}{% if author == p.authors.last %}and {% endif %}{{ author }}, {% endfor %}<br><span class="text-info">{{ p.published }} {{ p.date | date: '%Y' }}</span></p>
        <p>{{ p.caption }}</p>
        <p>
          {% if p.bibtex %}<a data-toggle="collapse" href="#{{ p.key }}-bibtex">BibTex</a>{% if p.downloads %}, {% endif %}{% endif %}
          {% if p.downloads %}{% for download in p.downloads %}<a {% if download.popup %}class="popup-{{ download.popup }}" {% endif %}href="{{ download.href }}" target="blank">{{ download.desc }}</a>{% if download != p.downloads.last %}, {% endif %}{% endfor %}{% endif %}
        </p>
        {% if p.bibtex %}<p>
          <div class="collapse" id="{{ p.key }}-bibtex">
            <pre>{% include {{ p.bibtex }} %}</pre>
          </div>
        </p>{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
