<div class="row text-center">
  <div class="col-12">
    <h2>{{ site.data.publications.heading | escape }}</h2>
    <p class="pt-0">Research <strong>Profiles</strong>:&ensp;
      <a href="https://orcid.org/{{ site.data.publications.orcid }}">ORCID</a>
      <br class="d-inline d-sm-none"><span class="d-none d-sm-inline">&ensp;|&ensp;</span>
      <a href="https://www.researchgate.net/profile/{{ site.data.publications.researchgate }}">Research Gate</a>
      <br class="d-inline d-sm-none"><span class="d-none d-sm-inline">&ensp;|&ensp;</span>
      <a href="https://scholar.google.de/citations?user={{ site.data.publications.scholar }}">Google Scholar</a>
    </p>
  </div>
</div>

{% assign publications = site.data.publications.publications | sort:"date" %}
{% for p in publications reversed %}
{% if p.key == 'separator' %}
<hr class="row separator" />
{% else %}
<div class="row" id="{{ p.key }}">
  
  <div class="col-lg-2 col-sm-3">
    {% assign thumbnail_src = p.thumbnail %}
    {% assign thumbnail_alt = p.title %}
    {% assign thumbnail_flickr = p.flickr %}
    {% include thumbnail.html %}
  </div>
  <div class="d-block d-sm-none mb-3 col-12"></div>
  
  <div class="col-lg-10 col-sm-9">
    <h3>{{ p.title | escape }}</h3>
    <p>
      {% for author in p.authors %}{% if author == p.authors.last and p.authors.size > 1 %}and {% endif %}{{ author }}{% if p.authors.size > 2 and author != p.authors.last %},{% endif %} {% endfor %}
      <br>
      {{ p.published }}, {{ p.date | date: '%Y' }}{% if p.lead_note %}, {{ p.lead_note }}{% endif %}
    </p>
    <p>
{% if p.abstract %}<a data-toggle="collapse" href="#abstract-{{ p.key }}">Abstract</a>{% if p.bibtex or p.downloads %}&ensp;|&ensp;{% endif %}
{% endif %}{% if p.bibtex %}<a data-toggle="collapse" href="#bibtex-{{ p.key }}">BibTeX</a>{% if p.downloads %}&ensp;|&ensp;{% endif %}
{% endif %}{% if p.downloads %}{% for download in p.downloads %}<a href="{{ download.href }}">{{ download.desc | escape }}</a>{% if download != p.downloads.last %}&ensp;|&ensp;{% endif %}{% endfor %}{% endif %}
    </p>

    {% if p.abstract %}
    <div class="collapse abstract" id="abstract-{{ p.key }}">
      <p>{{ p.abstract }}</p>
    </div>
    {% endif %}

    {% if p.bibtex %}
    <div class="collapse bibtex" id="bibtex-{{ p.key }}">
      <div class="btn-clipboard-parent">
        <button type="button" data-clipboard-target="#bibtex-data-{{ p.key }}" class="btn btn-sm btn-clipboard">Copy to Clipboard</button> 
      </div>
      <div class="card-body">
        <pre id="bibtex-data-{{ p.key }}">{% include /bib/{{ p.bibtex }} %}</pre>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}

