
<!-- Scripts -->

<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- blueimp gallery -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>

<!-- spin.js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/jquery.spin.min.js"></script>


<!-- Scrolling Nav JavaScript -->
<script src="{{ "/js/scrolling-nav.js" | prepend: site.baseurl }}"></script>

<script>

jQuery.fn.selectInner = function()
{
  var doc = document;
  var element = this[0];

  if (doc.body.createTextRange) 
  {
  	var range = document.body.createTextRange();
  	range.moveToElementText(element);
  	range.select();
  } 
  else if (window.getSelection) 
  {
  	var selection = window.getSelection();
  	selection.removeAllRanges();

    var range = document.createRange();
    range.selectNodeContents(element);

    selection.addRange(range);
  }
};

// since there is currently no way to use custom plugins on gh-pages
// flickr integration is done on demand via javascript

var flickr_api = "https://api.flickr.com/services/rest/";
var flickr_api_key = "{{ site.flickr_api_key }}";

function flickr_photo_url(photo)
{
  return "https://farm" + photo.farm 
    + ".staticflickr.com/" + photo.server + "/" 
    + photo.id + "_" + photo.secret + "_b.jpg";
}

var blueimp_gallery_cache = [];

function blueimp_gallery(photoset_id)
{
  blueimp.Gallery(blueimp_gallery_cache[photoset_id]
    , { useBootstrapModal : false, event : event, container: '#blueimp-gallery' });  
}

function flickr_photosets(photoset_id) 
{
  if(photoset_id in blueimp_gallery_cache)
  {
    blueimp_gallery(photoset_id);
    return;
  }

  $('#' + photoset_id).spin( { zIndex : 1 } );

  $.getJSON(flickr_api, 
    {
      method : "flickr.photosets.getPhotos",
      api_key : flickr_api_key, 
      photoset_id : photoset_id,
      format : "json",
      nojsoncallback : 1
    })

  .done(function(data) 
  {
    var blueimpl_gallery = [];

    $.each(data.photoset.photo, function(i, photo) {
      blueimpl_gallery.push( { href  : flickr_photo_url(photo), title : photo.title } ) });

    blueimp_gallery_cache[photoset_id] = blueimpl_gallery;
    blueimp_gallery(photoset_id);
  })
  .fail( function(data, textStatus, error) 
  {
    alert("flickr.photosets.getPhotos as json failed, status: " + textStatus + ", error: " + error);
  })
  .always( function()
  {
    var spinner = $('#' + photoset_id).data().spinner;
    if(spinner)
      spinner.stop();
  });
}

$(document).ready(function() 
{ 
  // assign flickr photosets to thumbnails
  $('.flickr').on('click', function(event) 
    { 
      event.preventDefault();
      flickr_photosets($(this).attr("id")); 
    });

  // assign bibtex select scripts
  {% for p in publications %}{% if p.bibtex %}
  $('#bibtex-select-{{ p.key }}').on('click', function(event) 
    { $('#bibtex-tex-{{ p.key }}').selectInner(); });
  {% endif %}{% endfor %}
});

// contact form validation
$("#contact-form").validate(
{ rules :
  { name     : { required : true },
    _replyto : { required : true, email : true },
    message  : { required : true, maxlength : 1024 } 
  }, 

  errorClass   : 'error form-control-static text-danger',
  errorElement : 'div',

  highlight : function(label) 
  { $(label).closest('.form-group').addClass('has-error'); },

  success : function(label) 
  { $(label).closest('.form-group').removeClass('has-error');
    $(label).remove(); },

  submitHandler : function(form) 
  { $.ajax(
    { url  : form.action,
      type : form.method,
      data : $(form).serializeJSON()
    });
  }
});

</script>
