<div class="row text-center">
  <div class="col-12">
    <h2>{{ site.data.talks.heading | escape }}</h2>
  </div>
</div>

{% assign talks = site.data.talks.talks | sort:"date" %}
{% for t in talks reversed %}
<div class="row{% if t != talks.last %} mt-0{% endif %}">
  <div class="col-md-3 text-md-right mb-1">
    {{ t.date | date : "%x" }}
  </div>
  <div class="col-md-9">
    <h3 class="mb-2">{{ t.title | escape }}</h3>
    <p>{{ t.location | escape }}
    {% if t.downloads %}&ensp;|&ensp;
    {% for download in t.downloads %}
      <a href="{{ download.href }}">{{ download.desc | escape }}</a>{% if download != t.downloads.last %}&ensp;|&ensp;{% endif %}{% endfor %}
    {% endif %}</p>
  </div>

</div>
{% endfor %}
