<div class="row text-center">
  <div class="col-12">
    <h2>{{ site.data.teaching.heading | escape }}</h2>
  </div>
</div>

{% assign terms = site.data.teaching.terms | sort:"term" %} 
{% for t in terms reversed %}
  
  {% capture i %}{% cycle 0, 1 %}{% endcapture %}
  {% if i == '0' %}<div class="row justify-content-md-center">{% endif %}

  <div class="col-md-5 {% cycle 'text-md-right text-left', '' %} col-sm-10">
    <h3>{{ t.term | escape }}</h3>
    {% for c in t.courses %}
    <p>{{ c.course | escape }}<br>
    <small>{{ c.type | escape }}, {{ c.role | escape }}</small></p>
    {% endfor %}
  </div>
  {% if i == '1' || t != terms.first %}</div>{% endif %}
{% endfor %}
