<div class="row text-xs-center">
  <h1>{{ site.data.teaching.heading.[page.lang] | escape }}</h1>
</div>

{% assign terms = site.data.teaching.terms | sort:"term" %} 
{% for t in terms reversed %}
  
  {% capture i %}{% cycle 0, 1 %}{% endcapture %}
  {% if i == '0' %}<div class="row">{% endif %}

  <div class="col-md-5 {% cycle 'col-md-offset-1 text-md-right text-xs-left', 'col-md-offset-0' %} col-sm-10 col-sm-offset-1">
    <h4>{{ t.term | escape }}</h4>
    {% for c in t.courses %}
    <p>{{ c.course | escape }}<br><span class="text-muted">{{ c.type | escape }}, {{ c.role | escape }}</span></p>
    {% endfor %}
  </div>
  {% if i == '1' || t != terms.first %}</div>{% endif %}
{% endfor %}
