
doctype html
html(lang = 'en')

  //- block vars

  include partials/head

  body#page-top(data-spy = 'scroll')

    section#header.container
      include partials/header

    section#publications.container
      include partials/publications

    //- include navbar.pug

    //- block header

    //- block content

    section#footer.container
      include partials/footer

  include partials/scripts
