
doctype html
html(lang = 'en')

  //- block vars

  include partials/head

  body#page-top(data-spy = 'scroll')

    section#header.container
      include partials/header

    -
      const selected = true;

    section#publications.container
      include partials/publications

    section#repositories.container
      include partials/repositories

    section#teaching.container
      include partials/teaching-activities

    section#todo.container
      include partials/todo

    //- include navbar.pug

    //- block header

    //- block content

    section#footer.container
      include partials/footer

  include partials/scripts
