
doctype html
html(lang = 'en')

  //- block vars

  include partials/head

  body#page-top(data-spy = 'scroll')

    section#publications.container
      include partials/publications

    section#footer.container
      include partials/footer

  include partials/scripts
