
doctype html
html(lang = 'en')

  //- block vars

  include partials/head

  body#page-top(data-spy = 'scroll')

    section#repositories.container
      include partials/repositories

    section#footer.container
      include partials/footer

  include partials/scripts
