doctype html
html(lang = 'en')

  //- block vars

  include partials/head

  body#page-top(data-spy = 'scroll')

    section#teaching.container
      include partials/teaching-activities

    section#footer.container
      include partials/footer

  include partials/scripts
